*.iml
.gradle/
/local.properties
/build
/app/build
.idea
app/proguard-rules.pro
app/src/androidTest/
app/src/main/java/com/odd/ostrinov2/Constants.java
app/src/main/java/com/odd/ostrinov2/Memes.kt
app/src/main/java/com/odd/ostrinov2/PermissionHandler.kt
app/src/main/res/drawable/apollo_holo_dark_notifiation_bar_collapse.png
app/src/test/