*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/compiler.xml
.idea/copyright/
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
.idea/inspectionProfiles/
app/proguard-rules.pro
app/src/androidTest/
app/src/main/java/com/odd/ostrinov2/Constants.java
app/src/main/java/com/odd/ostrinov2/Memes.kt
app/src/main/java/com/odd/ostrinov2/PermissionHandler.kt
app/src/main/res/drawable/apollo_holo_dark_notifiation_bar_collapse.png
app/src/test/
build.gradle
gradle.properties
gradle/
gradlew
gradlew.bat
settings.gradle
